.button {
  margin: 0;
  padding: 17px auto;
  background-color: transparent;
  color: @brown;
  border: 2px solid @brown;
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
