.catalog {
  margin: 0;
  background-color: @lavender;
  font: inherit;
  line-height: 30px;
  color: @black;
  font-weight: bold;
  padding: 70px 0 0;
  z-index: 2;
}

.catalog__delivery {
  display: none;
}

.catalog__title {
  margin: 0 auto 75px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  letter-spacing: 1.5px;
}

.catalog__wrapper {
  width: 100%;
  background-color: @white;
  padding-top: 31px;
}

@media (min-width: @tablet-width) {
  .catalog {
    position: relative;
    padding: 37px 0 0;
    margin-bottom: 51px;
  }

  .catalog__title {
    margin-bottom: 78px;
    font-size: 43px;
    line-height: 50px;
    letter-spacing: 1.9px;
  }

  .catalog__wrapper {
    position: relative;
    padding-top: 81px;
  }

  .catalog__wrapper::before {
    content: "";
    width: @tablet-width;
    height: 24px;
    background: url("../img/bg-zigzag-fill.svg") no-repeat;
    //background-position-x: -50px;
    position: absolute;
    background-size: 100%;
    z-index: 11;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding: 38px 0 0;
    margin-bottom: 46px;
  }

  .catalog__title {
    font-size: 53px;
    font-weight: bold;
    margin-bottom: 106px;
  }

  .catalog__wrapper {
    padding-top: 129px;
  }

  .catalog__wrapper::before {
    width: 1150px;
    top: -15px;
    background-size: 100%;
  }
}
