.category {
  width: 320px;
  margin: 0 auto;
  padding-top: 75px;
  background: #fafafa url("../img/hero-mobile@1x.jpg") no-repeat;
  background-position: top center;
  font: inherit;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: @white;

  @media (min-resolution: 1.5dppx) {
    .category {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }

  &__delivery {
    display: none;
  }

  &__title {
    color: @black;
    text-align: center;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 122px;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    p {
      margin: 0;
      width: 130px;
    }
  }

  &__link {
    text-decoration: none;
    color: @white;
    display: block;
    padding: 30px;
  }

  &__item--interior {
    background: @marine;
    position: relative;
    //background-position: center right 36px;
  }

  &__item--interior::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 62px;
    background: transparent url("../img/icon-interior.svg") no-repeat;
    //TODO: здесь свгшка не того цвета
    opacity: 0.2;
    right: 36px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__item--toys {
    background-color: @marine-dark;
    position: relative;
  }

  &__item--toys::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent url("../img/icon-toy.svg") no-repeat;
    opacity: 0.2;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: @tablet-width) {
  .category {
    position: relative;
    z-index: -1;
    width: auto;
    background: #f9f9f9 url("../img/hero-tablet@1x.jpg") no-repeat;
    background-position: top center;

    &__list {
      flex-direction: row;
      width: 668px;
      margin: 0 auto;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        //background-size: contain;
        width: 100%;
        height: 33px;
        background: transparent url("../img/bg-zigzag-fill.svg") round;
        bottom: -18px;
      }
    }

    &__delivery {
      display: flex;
      position: absolute;
      top: -140px;
      //НЕ ТОЧНО
      right: 0;
      list-style: none;
    }

    &__delivery-rus {
      color: @brown;
      font-size: 15px;
      font-weight: normal;
      text-decoration: none;
    }

    &__title {
      margin: 65px auto 380px;
      width: 520px;
      font-size: 43px;
      line-height: 50px;

      br {
        display: none;
      }
    }

    &__item {
      width: 50%;
    }
  }
}

@media (min-resolution: 2dppx) and (min-width: @tablet-width) {
  background-image: url("../img/hero-tablet@2x.jpg");
}

@media (min-width: @desktop-width) {
  .category {
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat;
    background-position: top center;
    padding-top: 70px;

    &__list {
      width: 1050px;
    }
  }
}

@media (min-resolution: 2dppx) and (min-width: @desktop-width) {
  background-image: url("../img/hero-desktop@2x.jpg");
}
