.contacts {
  display: none;
  //TODO: СКРЫЛА ДЛЯ ЗАДАНИЯ
  margin: 0;
  padding: 0;
  background-color: @white;
  font: inherit;
  line-height: 30px;

  &__wrapper {
    width: 260px;
    margin: 0 auto;
    padding: 0;
  }

  &__button {
    display: block;
    width: 260px;
    margin: 0 auto 40px;
    padding: 10px;
    text-align: center;
  }

  &__address {
    width: 260px;
    border-spacing: 0 40px;
  }

  &__field {
    vertical-align: top;
    width: 77px;
  }

  &__value--email {
    border-bottom: 1px solid @marine-dark;
  }

  &__map {
    //TODO: временно
    width: 320px;
    height: 457px;
    background: white url("../img/map-mobile@1x.jpg") no-repeat;
    background-position: top center;
    margin: 0 auto 39px;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    &__wrapper {
      width: 668px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    &__wrapper {
      width: 1050px;
    }
  }
}
