.fabrication {
  margin: 0 auto 58px;
  padding: 0;
  width: 260px;
  background-color: @white;
  font: inherit;
}

.fabrication__header {
  //width: 100%;
  padding: 11px 30px 10px 88px;
  border: 1px solid @border;
}

.fabrication__title {
  font-size: 17px;
  line-height: 24px;
  position: relative;

  &::before {
    content: "";
    width: 33px;
    height: 30px;
    background: url("../img/icon-video.svg") no-repeat;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -56px;
    z-index: 16;
  }
}

.fabrication__video {
  //background: url("../img/video-mobile@1x.jpg") no-repeat;
  display: block;
  position: relative;
  //width: 260px;
  //height: 150px;
}

.fabrication__video-container {
  display: block;
}

.fabrication__play {
  margin: 35px auto 30px 50%;
  transform: translateX(-50%);
}

.fabrication__play-button {
  width: 101px;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  &:hover,
  &:focus {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
    outline: none;
  }

  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    opacity: 0.7;
  }
}

.fabrication__about {
  margin: 0 auto;
  padding: 26px 20px 32px;
  border: 1px solid @border;
  font-size: 13px;
  line-height: 24px;
}

.fabrication__text {
  margin: 0 15px 24px 13px;
}

.fabrication__button {
  display: block;
  width: 188px;
  margin: 0 auto;
  padding: 14px 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .fabrication {
    width: 668px;
    margin-bottom: 62px;
    position: relative;
  }

  .fabrication__wrapper {
    display: flex;
    flex-direction: column;
  }

  .fabrication__video {
    order: -1;
    width: 668px;
    height: 456px;
  }

  .fabrication__header {
    border-bottom: none;
    padding-top: 20px;
    padding-left: 105px;
  }

  .fabrication__title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;

    &::before {
      top: -5px;
      left: -64px;
    }
  }

  .fabrication__about {
    border-top: none;
    padding: 6px 26px 45px;
  }

  .fabrication__text {
    font-size: 15px;
    line-height: 30px;
    margin: 0 15px 35px 13px;
  }

  .fabrication__button {
    width: 580px;
  }
}

@media (min-width: @desktop-width) {
  .fabrication {
    width: 1050px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 105px;
  }

  .fabrication__wrapper {
    margin-left: 681px;
    border: 1px solid @border;
    padding-left: 77px;
  }

  .fabrication__video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }

  .fabrication__title {
    margin-top: 96px;
    margin-bottom: 33px;
    width: 200px;
    letter-spacing: 1.5px;

    &::before {
      top: -54px;
      left: 2px;
    }
  }

  .fabrication__header {
    border: none;
    padding: 0;
  }

  .fabrication__about {
    border: none;
    padding: 0;
  }

  .fabrication__text {
    margin: 0;
    margin-bottom: 46px;
  }

  .fabrication__button {
    width: 226px;
    margin: 2px;
    margin-bottom: 58px;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 12px 0 15px;
  }
}
