.footer {
  background-color: @lavender;
  font: inherit;
  color: @black;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  padding: 22px 0;

  &__wrapper {
    //width: 280px;
    //margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__social {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid @border;
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    padding: 20px 0;

    &__wrapper {
      //width: 668px;
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      display: block;
      //margin: auto 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .footer {
    //&__wrapper {
    //  width: 1050px;
    //}
  }
}
