.main-nav__logo {
  padding-left: 6px;
  width: 86px;
  height: 35px;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.4;
  }
}

.main-nav--additional {
  display: none;
}

.main-nav__item {
  list-style: none;
  //width: 100%;
  border-top: 1px solid @border;
  margin: 0 auto;
}

.main-nav__icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  fill: @grey;
}

.main-nav__link {
  display: block;
  position: relative;
  //width: 100%;
  color: @black;
  text-decoration: none;
  padding: 33px 0 30px 75px;
  tab-index: 1;

  &:hover .main-nav__content,
  &:focus .main-nav__content {
    opacity: 0.6;
  }

  &:hover .main-nav__icon,
  &:focus .main-nav__icon {
    fill: @marine;
  }

  &:active {
    opacity: 0.4;
  }

  &:active .main-nav__icon {
    opacity: 0.4;
    fill: @marine;
  }
}

.main-nav__site,
.main-nav__user {
  margin: 0 auto;
  width: 320px;
}

.main-nav__delivery {
  display: none;
}

.main-nav__wrapper {
  box-sizing: border-box;
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding: 22px 0 16px 80px;
}

.main-nav__menu-button {
  padding: 0;
  margin: auto 0 19px auto;
  border: none;
  width: 20px;
  height: 14px;
  background: url("../img/icon-menu-open.svg") no-repeat;
  cursor: pointer;
}

.main-nav__menu-button--hidden {
  display: none;
}

.main-nav__menu-button--close {
  background: url("../img/icon-menu-close.svg") no-repeat;
  width: 21px;
  height: 20px;
  margin: 7px 0 auto auto;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
  }

  .main-nav__logo {
    width: 113px;
    height: 46px;
  }

  .main-nav__wrapper {
    width: auto;
    padding-left: 0;
    margin: 0;
    order: -3;
  }

  .main-nav__menu-button {
    display: none;
  }

  .main-nav__site,
  .main-nav__user {
    display: flex;
    padding: 0;
    position: relative;
    z-index: 10;
    margin: 0;
  }

  .main-nav__site {
    z-index: 10;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    order: -1;
    padding-top: 16px;
    //width: auto;

    .main-nav__link {
      padding: 0 31px 0 0;
      letter-spacing: 1px;
    }
  }

  .main-nav__user {
    order: -2;
    width: auto;
  }

  .main-nav__item--search .main-nav__content {
    display: none;
  }

  .main-nav__item--search .main-nav__link {
    padding: 79px 70px 10px 14px;
  }

  .main-nav__item {
    border: none;
    flex-shrink: 0;
    margin: 0;
  }

  .main-nav__item--search {
    border-left: 1px solid @border;
    border-right: 1px solid @border;
  }

  .main-nav__link {
    flex-shrink: 0;
  }

  .main-nav__link--basket {
    padding-left: 76px;

    .main-nav__content {
      letter-spacing: 1px;
    }
  }

  .main-nav__delivery {
    display: block;
    order: 100;
    z-index: 2;
    margin-top: 16px;
    text-decoration: none;
    color: @brown;
    font-size: 15px;
    font-weight: normal;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1050px;
  }

  .main-nav__logo {
    padding-top: 9px;
    width: 149px;
    height: 72px;
  }

  .main-nav__site {
    order: -4;
    display: flex;
    margin: 0;
    padding: 0;
    width: 388px;

    .main-nav__link {
      box-sizing: border-box;
      padding: 33px 32px 30px 0;
      font-size: 17px;
    }
  }

  .main-nav__wrapper {
    order: -3;
    padding: 0;
  }

  .main-nav__user {
    order: -2;
    margin-left: 40px;
  }

  .main-nav__additional {
    display: flex;
    order: -1;
    position: relative;
    z-index: 2;
    padding: 0;
    flex-wrap: wrap;
    max-width: 50%;

    .main-nav__link {
      padding: 0;
      font-size: 15px;
    }

    .main-nav__item {
      padding-right: 74px;
    }
  }

  .main-nav__item {
    margin: 0;
  }

  .main-nav__item--knitting {
    padding-left: 35px;
    border-left: 1px solid @border;

    .main-nav__link {
      font-size: 17px;
      line-height: 24px;
      padding-right: 0;
    }
  }
}
