.modal {
  //display: none;
  width: 320px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  z-index: 13;
  background-color: @white;
  border: 1px solid @grey;
  box-shadow: 0 5px 5px #c7c7c7;
  padding: 30px 30px 46px;
  box-sizing: border-box;

  &__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    width: 155px;
    margin: 0 auto 15px;
    color: @black;
  }

  &__text {
    width: 155px;
    display: block;
    margin: 1px auto 28px;
  }

  &__sizes {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: 0 auto 30px;
  }

  &__size {
    width: 80px;
    text-align: center;
    border: 2px solid @grey;
    padding: 11px 0;
    font-size: 17px;
    cursor: pointer;

    &--selected {
      border-color: @marine;
    }
  }

  &__button {
    border: none;
    background-color: @marine;
    width: 260px;
    padding: 18px 0;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .modal {
    width: 566px;

    &__title {
      width: 400px;
      text-align: center;
      font-size: 30px;
      line-height: 57px;
    }

    &__text {
      font-size: 17px;
    }

    &__button {
      margin: 0 auto;
      display: block;
      width: 350px;
    }

    &__sizes {
      width: 350px;
    }

    &__size {
      width: 108px;
    }
  }
}
