.order {
  margin: 0;
  padding: 0;
  background-color: @white;
  //TODO: надо разделить заголовок и создать див вокруг формы или нет, фоны разные должны быть
  font: inherit;
  font-size: 13px;

  &__title {
    padding: 70px 0 76px;
    background-color: @lavender;
    text-align: center;
    margin: 0 0 22px;
    font-size: 27px;
    line-height: 30px;
    letter-spacing: 1.3px;
  }

  &__about {
    margin-bottom: 24px;
  }

  &__legend {
    padding-right: 25px;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: @marine;
  }

  &__fieldset {
    border: none;
    border-top: 1px solid @marine;
    padding: 8px 0 44px;
  }

  &__color {
    padding-top: 36px;
    padding-bottom: 0;
    width: 260px;
    margin: 0 auto;
  }

  &__label {
    display: block;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    margin: 25px 0 0 0;
    padding-left: 61px;
    letter-spacing: 0.9px;
  }

  &__label--name {
    padding-left: 0;
  }

  &__label--radio {
    position: relative;
    cursor: pointer;
  }

  &__label--checkbox {
    margin: 0 0 43px;
  }

  &__radio {
    position: relative;

    &::before {
      content: "";
      width: 34px;
      height: 34px;
      top: -7px;
      left: -62px;
      background-color: @white;
      position: absolute;
      border: 2px solid black;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__radio:checked::before {
    background-color: @marine;
    box-shadow: 0 0 0 9px white inset;
  }

  &__checkbox {
    position: relative;

    &::before {
      content: "";
      width: 36px;
      height: 34px;
      top: -11px;
      left: -62px;
      background-color: @white;
      position: absolute;
      border: 2px solid black;
      cursor: pointer;
    }
  }

  &__checkbox:checked::before {
    background: url("../img/icon-tick.svg") no-repeat;
    background-size: 71%;
    background-position: 50%;
  }

  &__radio,
  &__checkbox {
    position: absolute;
    width: 0;
    tab-index: 0;
    //opacity: 0;
    //z-index: -100;
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid @black;
    padding: 11px 0 17px;
    font-size: 17px;

    &--tel {
      padding: 13px 0 17px;
      position: relative;
    }
  }

  &__name {
    padding: 6px 0 31px;
  }

  &__tel,
  &__email {
    padding: 8px 0 33px;
    position: relative;
    width: 260px;
    margin: 0 auto;
  }

  &__tel::after {
    content: "";
    width: 25px;
    height: 24px;
    position: absolute;
    top: 33px;
    right: 5px;
    background: url("../img/icon-phone.svg") no-repeat;
    opacity: 0.2;
  }

  &__email::after {
    content: "";
    width: 32px;
    height: 27px;
    position: absolute;
    top: 32px;
    right: 2px;
    background: url("../img/icon-mail.svg") no-repeat;
    opacity: 0.2;
  }

  &__textarea {
    border: 2px solid @black;
    font-size: 17px;
    padding: 12px 13px 0;
    box-sizing: border-box;
    margin: 17px 0 8px;
    height: 142px;
    width: 259px;
  }

  &__add {
    padding-bottom: 0;
  }

  &__warn {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 32px;
  }

  &__button {
    width: 260px;
    padding: 14px 0;
    margin-bottom: 55px;
  }
}

@media (min-width: @tablet-width) {
  .order {
    &__title {
      font-size: 43px;
      line-height: 50px;
      padding: 93px 0 81px;
      margin-bottom: 73px;
    }

    &__about {
      font-size: 17px;
      line-height: 30px;
    }

    &__fieldset {
      border: none;
      position: relative;
    }

    &__type {
      padding-left: 186px;
      padding-top: 24px;
      position: relative;
      padding-bottom: 10px;
    }

    &__label--radio {
      margin-bottom: 58px;
    }

    &__legend {
      position: absolute;
      top: 50px;
      left: 0;
      display: block;
    }

    &__legend--color {
      top: 2px;
      left: 3px;
    }

    &__legend--name {
      top: 67px;
    }

    &__legend--tel {
      top: 3px;
      left: -141px;
    }

    &__legend--email {
      top: 8px;
      left: 147px;
    }

    &__radio {
      &::before {
        width: 47px;
        height: 47px;
        top: -16px;
        left: -82px;
      }
    }

    &__radio:checked::before {
      box-shadow: 0 0 0 13px @white inset;
    }

    &__color {
      background-color: @lavender;
      padding-top: 65px;
      width: 100%;
      position: relative;
    }

    &__colors {
      display: flex;
      flex-wrap: wrap;
      width: 530px;
      margin-left: 187px;
      padding-bottom: 8px;
    }

    &__wrapper {
      width: 668px;
      margin: 0 auto;
      position: relative;
    }

    &__label {
      font-size: 19px;
      line-height: 18px;
    }

    &__label--checkbox {
      width: 201px;
      margin: 0 0 59px;
    }

    &__label--name {
      display: flex;
      flex-direction: row;
      margin-top: 38px;
    }

    &__checkbox {
      &::before {
        width: 49px;
        height: 48px;
        top: -15px;
        left: -80px;
        background: transparent;
      }
    }

    &__input {
      //width: auto;
      display: inline;
      margin-left: 24px;
      font-size: 19px;
      line-height: 18px;
      padding: 0 17px 10px;
      background: transparent;
    }

    &__input--tel {
      width: 468px;
    }

    &__input--email {
      width: 468px;
    }
    //TODO: НАШАМАНИЛА КАКУЮ-ТО ХУЙНЮ, НАДО СДЕЛАТЬ ПО-ЧЕЛОВЕЧЕСКИ
    &__name {
      padding: 26px 0 50px 167px;
    }

    &__email,
    &__tel {
      width: 668px;
      margin: 0 auto;
      //padding: 64px 0 10px 231px;
      padding-left: 286px;
    }

    &__tel {
      padding-top: 64px;

      &::after {
        top: 60px;
        right: 168px;
      }
    }

    &__email {
      padding-top: 5px;
      padding-bottom: 50px;

      &::after {
        top: 2px;
        right: 165px;
      }
    }

    &__add {
      padding-top: 33px;
      padding-left: 165px;
      margin-bottom: 38px;
    }

    &__textarea {
      height: 142px;
      width: 501px;
      font-size: 19px;
      line-height: 18px;
    }

    &__contacts {
      background-color: @lavender;
    }

    &__warn {
      position: absolute;
      top: 255px;
      right: 0px;
      font-size: 17px;
      line-height: 30px;
    }

    &__button {
      width: 230px;
      margin-bottom: 50px;
    }
  }
}
