.order {
  margin: 0;
  padding: 0;
  background-color: @white;
  font: inherit;
  font-size: 13px;
  position: relative;
}

.order__title {
  padding: 70px 0 76px;
  background-color: @lavender;
  text-align: center;
  margin: 0 0 22px;
  font-size: 27px;
  line-height: 30px;
  letter-spacing: 1.3px;
}

.order__about {
  margin-bottom: 24px;
}

.order__header {
  position: relative;
}

.order__legend {
  padding-right: 25px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: @marine;
}

.order__fieldset {
  border: none;
  border-top: 1px solid @marine;
  padding: 8px 0 44px;
}

.order__color {
  padding-top: 36px;
  padding-bottom: 0;
  width: 260px;
  margin: 0 auto;
}

.order__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin: 25px 0 0 0;
  padding-left: 61px;
  letter-spacing: 0.9px;
}

.order__label--name {
  padding-left: 0;
}

.order__label--radio {
  position: relative;
  cursor: pointer;
}

.order__label--checkbox {
  margin: 0 0 43px;
  cursor: pointer;
}

.order__radio {
  //position: relative;
}

.order__radio-name {
  position: relative;

  &::before {
    content: "";
    width: 34px;
    height: 34px;
    top: -5px;
    left: -62px;
    background-color: transparent;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
}

.order__radio:checked + .order__radio-name::before {
  background-color: @marine;
  box-shadow: 0 0 0 9px white inset;
}

.order__checkbox {
  //position: relative;
}

.order__checkbox-name {
  position: relative;

  &::before {
    content: "";
    width: 36px;
    height: 34px;
    top: -7px;
    left: -62px;
    background-color: transparent;
    position: absolute;
    border: 2px solid black;
    cursor: pointer;
  }
}

.order__checkbox:checked + .order__checkbox-name::before {
  background: url("../img/icon-tick.svg") no-repeat;
  background-size: 71%;
  background-position: 50%;
}

.order__radio,
.order__checkbox {
  //position: absolute;
  //width: 0;
  //tab-index: 0;
  ////opacity: 0;
  ////z-index: -100;
  display: none;
}

.order__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid @black;
  padding: 11px 0 17px;
  font-size: 17px;
}

.order__input--tel {
  padding: 13px 0 17px;
  position: relative;
}

.order__name {
  padding: 6px 0 31px;
}

.order__tel,
.order__email {
  padding: 8px 0 33px;
  position: relative;
  width: 260px;
  margin: 0 auto;
}

.order__tel::after {
  content: "";
  width: 25px;
  height: 24px;
  position: absolute;
  top: 33px;
  right: 5px;
  background: url("../img/icon-phone.svg") no-repeat;
  opacity: 0.2;
}

.order__email::after {
  content: "";
  width: 32px;
  height: 27px;
  position: absolute;
  top: 32px;
  right: 2px;
  background: url("../img/icon-mail.svg") no-repeat;
  opacity: 0.2;
}

.order__textarea {
  border: 2px solid @black;
  font-size: 17px;
  padding: 12px 13px 0;
  box-sizing: border-box;
  margin: 17px 0 8px;
  height: 142px;
  width: 259px;
  resize: none;
}

.order__add {
  padding-bottom: 0;
}

.order__warn {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 32px;
}

.order__button {
  width: 260px;
  padding: 14px 0;
  margin-bottom: 55px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .order__title {
    font-size: 43px;
    line-height: 50px;
    padding: 35px 0 81px;
    margin-bottom: 73px;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 46px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      bottom: -35px;
      background-size: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .order__about {
    font-size: 17px;
    line-height: 30px;
  }

  .order__fieldset {
    border: none;
    position: relative;
  }

  .order__type {
    padding-left: 186px;
    padding-top: 24px;
    position: relative;
    padding-bottom: 10px;
  }

  .order__label--radio {
    margin-bottom: 58px;
  }

  .order__legend {
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
  }

  .order__legend--color {
    top: 67px;
    left: 2px;
  }

  .order__legend--name {
    top: 67px;
  }

  .order__legend--tel {
    top: 67px;
    left: 3px;
  }

  .order__legend--email {
    top: 8px;
    left: 5px;
  }

  .order__legend--add {
    top: 67px;
  }

  .order__radio-name {
    &::before {
      width: 47px;
      height: 47px;
      top: -11px;
      left: -82px;
    }
  }

  .order__radio:checked + .order__radio-name::before {
    box-shadow: 0 0 0 13px @white inset;
  }

  .order__color {
    padding-top: 65px;
    width: 668px;
    position: relative;
    margin: 0 auto;
  }

  .order__wrap {
    background-color: @lavender;
  }

  .order__colors {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    margin-left: 187px;
    padding-bottom: 8px;
  }

  .order__wrapper {
    width: 668px;
    margin: 0 auto;
    position: relative;
  }

  .order__label {
    font-size: 19px;
    line-height: 18px;
  }

  .order__label--checkbox {
    width: 201px;
    margin: 0 0 59px;
  }

  .order__label--name {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
  }

  .order__checkbox-name {
    &::before {
      width: 49px;
      height: 48px;
      top: -11px;
      left: -80px;
      background: transparent;
    }
  }

  .order__input {
    //width: auto;
    display: inline;
    margin-left: 24px;
    font-size: 19px;
    line-height: 18px;
    padding: 0 17px 10px;
    background: transparent;
  }

  .order__input--tel,
  .order__input--email {
    box-sizing: border-box;
    width: 500px;
    padding-right: 76px;
  }

  .order__name {
    padding: 26px 0 50px 167px;
  }

  .order__email,
  .order__tel {
    width: 668px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 144px;
    box-sizing: border-box;
  }

  .order__tel {
    padding-top: 64px;

    &::after {
      top: 60px;
      right: 27px;
    }
  }

  .order__email {
    padding-top: 5px;
    padding-bottom: 50px;

    &::after {
      top: 2px;
      right: 23px;
    }
  }

  .order__add {
    padding-top: 33px;
    padding-left: 165px;
    margin-bottom: 38px;
  }

  .order__textarea {
    height: 142px;
    width: 501px;
    font-size: 19px;
    line-height: 18px;
  }

  .order__contacts {
    background-color: @lavender;
  }

  .order__warn {
    position: absolute;
    top: 255px;
    right: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order__button {
    width: 230px;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .order__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 101px;
    margin-bottom: 123px;

    &::after {
      width: 1150px;
      height: 33px;
      background: url("../img/bg-zigzag-fill.svg") round;
      bottom: -18px;
    }
  }

  .order__about {
    padding-right: 160px;
    padding-left: 174px;
  }

  .order__type {
    padding-left: 193px;
  }

  .order__legend--type {
    left: 63px;
  }

  .order__legend--color {
    left: 62px;
  }

  .order__legend--name {
    left: 61px;
  }

  .order__legend--tel {
    left: 63px;
  }

  .order__legend--email {
    top: 10px;
    left: 63px;
  }

  .order__legend--add {
    left: 62px;
  }

  .order__wrapper {
    width: 1050px;
  }

  .order__colors {
    width: auto;
    margin-left: 196px;
  }

  .order__name {
    padding: 26px 173px 50px 175px;
  }

  .order__email,
  .order__tel {
    width: 1050px;
    padding-left: 151px;
    box-sizing: border-box;
  }

  .order__input--email,
  .order__input--tel {
    width: 700px;
    padding: 0 44px 10px 17px;
    box-sizing: border-box;
  }

  .order__tel {
    &::after {
      right: 183px;
    }
  }

  .order__email {
    &::after {
      right: 179px;
    }
  }

  .order__add {
    padding-left: 173px;
    margin-bottom: 34px;
  }

  .order__textarea {
    width: 700px;
    height: 142px;
  }

  .order__button {
    margin-bottom: 50px;
    margin-left: 175px;
  }

  .order__warn {
    top: 251px;
    right: 173px;
  }
}
