.order {
  margin: 0;
  padding: 0;
  background-color: @white;
  font: inherit;
  font-size: 13px;
  position: relative;
}

.order__title {
  padding: 70px 0 76px;
  background-color: @lavender;
  text-align: center;
  margin: 0 0 22px;
  font-size: 27px;
  line-height: 30px;
  letter-spacing: 1.3px;
}

.order__about {
  margin-bottom: 25px;
}

.order__header {
  position: relative;
}

.order__legend {
  position: relative;
  padding-right: 25px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: @marine;
  //margin-bottom: 33px;
  margin-bottom: 34px;
  //display: block;
  margin-top: 0;
}

.order__legend--name {
  margin-bottom: 32px;
  //margin-top: 0;
}

.order__legend--add {
  margin-bottom: 8px;
}

.order__legend--color {
  //margin-top: 0;
}

.order__legend-text {
  &::after {
    //width: calc(100% - 81px);
    //left: 81px;
    content: "";
    //width: 100%;
    width: calc(100% - 58px);
    height: 1px;
    background-color: @marine;
    position: absolute;
    top: 8px;
    left: 60px;
    z-index: 100;
    padding-left: 55px;
    box-sizing: border-box;
  }
}

.order__add .order__legend-text::after {
  width: 198px;
  left: 60px;
}

.order__fieldset {
  border: none;
  //border-top: 1px solid @marine;
  //padding: 8px 0 44px;
  padding: 0 0 44px;
}

.order__color {
  //padding-top: 36px;
  padding-bottom: 0;
  width: 260px;
  margin: 0 auto;
}

.order__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin: 25px 0 0 0;
  padding-left: 61px;
  letter-spacing: 0.9px;
}

.order__label--name {
  padding-left: 0;
}

.order__label--radio {
  position: relative;
  cursor: pointer;
}

.order__label--checkbox {
  margin: 0 0 43px;
  cursor: pointer;
}

.order__radio {
  //position: relative;
}

.order__label--radio:hover .order__radio-name::before {
  border-color: @marine;
}

.order__label--radio:active .order__radio-name::before {
  border-color: @grey;
}

.order__radio-name {
  position: relative;

  &::before {
    content: "";
    width: 34px;
    height: 34px;
    top: -5px;
    left: -62px;
    background-color: transparent;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
}

.order__radio:checked + .order__radio-name::before {
  background-color: @marine;
  box-shadow: 0 0 0 9px white inset;
}

.order__checkbox {
  //position: relative;
}

.order__label:hover .order__checkbox-name::before {
  border-color: @marine;
}

.order__label:active .order__checkbox-name::before {
  border-color: @grey;
}

.order__checkbox-name {
  position: relative;

  &::before {
    content: "";
    width: 36px;
    height: 34px;
    top: -7px;
    left: -62px;
    background-color: transparent;
    position: absolute;
    border: 2px solid black;
    cursor: pointer;
  }
}

.order__email .order__legend-text::after {
  width: calc(100% - 82px);
  left: 82px;
}

.order__checkbox:checked + .order__checkbox-name::before {
  background: url("../img/icon-tick.svg") no-repeat;
  background-size: 71%;
  background-position: 50%;
}

.order__radio,
.order__checkbox {
  display: none;
}

.order__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid @black;
  padding: 11px 0 17px;
  font-size: 17px;

  &:hover {
    border-color: @marine;
  }

  &:active {
    border-color: @marine;
  }
}

.order__input--tel {
  padding: 13px 0 17px;
  position: relative;
}

.order__name {
  padding: 0 0 31px;
}

.order__tel,
.order__email {
  padding: 0 0 33px;
  position: relative;
  width: 260px;
  margin: 0 auto;

  .order__legend {
    margin-bottom: 8px;
  }
}

.order__tel-label {
  position: relative;
}

.order__tel-icon {
  position: absolute;
  opacity: 0.2;
  top: -41px;
  right: -252px;
}

.order__input--tel:hover + .order__tel-label .order__tel-icon,
.order__input--tel:active + .order__tel-label .order__tel-icon {
  fill: @marine;
  opacity: 1;
}

.order__email-label {
  position: relative;
}

.order__input--email:hover + .order__email-label .order__email-icon,
.order__input--email:active + .order__email-label .order__email-icon {
  fill: @marine;
  opacity: 1;
}

.order__email-icon {
  position: absolute;
  opacity: 0.2;
  top: -41px;
  right: -256px;
}

.order__textarea {
  border: 2px solid @black;
  font-size: 17px;
  padding: 12px 13px 0;
  box-sizing: border-box;
  height: 142px;
  width: 259px;
  resize: none;
  margin: 17px 0 8px;
  //margin-bottom: 15px;

  &:hover {
    border-color: @marine;
  }

  &:active {
    border-color: @marine;
  }
}

.order__add {
  padding-bottom: 0;
}

.order__warn {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 32px;
}

.order__button {
  width: 260px;
  padding: 14px 0;
  margin-bottom: 55px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .order__title {
    font-size: 43px;
    line-height: 50px;
    padding: 35px 0 81px;
    margin-bottom: 73px;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 46px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      bottom: -35px;
      background-size: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .order__about {
    font-size: 17px;
    line-height: 30px;
  }

  .order__fieldset {
    border: none;
    position: relative;
  }

  .order__labels {
    margin-left: 127px;
  }

  .order__fieldset-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .order__type {
    padding-left: 0;
    padding-top: 24px;
    position: relative;
    padding-bottom: 10px;
  }

  .order__label--radio {
    margin-bottom: 58px;
  }

  .order__legend {
    display: block;
    margin-top: 27px;

    &::after {
      display: none;
    }
  }

  .order__legend--email {
    width: 55px;
    padding: 0;
    margin-top: 32px;
  }

  .order__legend--tel {
    margin-top: 16px;
  }

  .order__legend--add {
    margin-top: 34px;
  }

  .order__legend-text::after {
    display: none;
  }

  .order__legends {
    margin-left: 102px;
    width: 500px;
  }

  .order__radio-name {
    &::before {
      width: 47px;
      height: 47px;
      top: -11px;
      left: -82px;
    }
  }

  .order__radio:checked + .order__radio-name::before {
    box-shadow: 0 0 0 13px @white inset;
  }

  .order__color {
    padding-top: 65px;
    width: 668px;
    position: relative;
    margin: 0 auto;

    .order__legend {
      margin-top: 4px;
      //margin-left: 72px;
    }

    .order__fieldset-wrapper {
      width: 668px;
    }
  }

  .order__wrap {
    background-color: @lavender;
  }

  .order__colors {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    padding-bottom: 8px;
    margin-left: 118px;
  }

  .order__wrapper {
    width: 668px;
    margin: 0 auto;
    position: relative;
  }

  .order__label {
    font-size: 19px;
    line-height: 18px;
  }

  .order__label--checkbox {
    width: 201px;
    margin: 0 0 59px;
  }

  .order__label--name {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
  }

  .order__checkbox-name {
    &::before {
      width: 49px;
      height: 48px;
      top: -11px;
      left: -80px;
      background: transparent;
    }
  }

  .order__input {
    //width: auto;
    display: inline;
    margin-left: 24px;
    font-size: 19px;
    line-height: 18px;
    padding: 0 17px 10px;
    background: transparent;
  }

  .order__input--tel,
  .order__input--email {
    box-sizing: border-box;
    width: 500px;
    padding-right: 76px;
    margin-left: 112px;
    margin-top: 13px;
  }

  .order__input--email {
    margin-top: 29px;
  }

  .order__name {
    padding: 26px 0 50px;

    .order__legend {
      margin-top: 42px;
    }
  }

  .order__email,
  .order__tel {
    width: 668px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
  }

  .order__tel {
    padding-top: 51px;
    padding-bottom: 4px;

    &::after {
      top: 60px;
      right: 27px;
    }
  }

  .order__tel-icon {
    top: 10px;
    right: 24px;
  }

  .order__email-icon {
    top: 25px;
    right: 21px;
  }

  .order__email {
    padding-top: 5px;
    padding-bottom: 50px;
    //
    //&::after {
    //  top: 31px;
    //  right: 23px;
    //}
  }

  .order__add {
    padding-top: 33px;
    padding-left: 0;
    //margin-bottom: 38px;
    margin-bottom: 45px;
  }

  .order__textarea {
    height: 142px;
    width: 501px;
    font-size: 19px;
    line-height: 18px;
    margin-left: 103px;
  }

  .order__contacts {
    background-color: @lavender;
  }

  .order__warn {
    position: absolute;
    top: 255px;
    right: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order__button {
    width: 230px;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .order__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 101px;
    margin-bottom: 123px;

    &::after {
      width: 1150px;
      height: 33px;
      background: url("../img/bg-zigzag-fill.svg") round;
      bottom: -18px;
    }
  }

  .order__fieldset-wrapper {
    width: 1050px;
  }

  .order__about {
    padding-right: 160px;
    padding-left: 174px;
  }

  .order__type {
    padding-left: 0;
  }

  .order__labels {
    margin-left: 71px;
  }

  .order__legends {
    margin-left: 49px;
    width: 696px;
  }

  .order__legend--type {
    //left: 63px;
  }

  .order__legend--color {
    .order__legend-text {
      margin-left: 33px;
    }
  }

  .order__color .order__legend {
    margin-top: 0;
    margin-left: 29px;
  }

  .order__legend--name {
    //left: 61px;
  }

  .order__legend--tel {
    //left: 63px;
  }

  .order__legend--email {
    //top: 10px;
    //left: 63px;
    width: auto;
  }

  .order__legend--add {
    //left: 62px;
  }

  .order__legend-text {
    margin-left: 63px;
  }

  .order__wrapper {
    width: 1050px;
  }

  .order__colors {
    width: auto;
    margin-left: 67px;
  }

  .order__color {
    padding-top: 63px;
    width: auto;

    .order__fieldset-wrapper {
      width: 1050px;
      margin: 0 auto;
    }
  }

  .order__name {
    padding: 26px 173px 50px 0;
  }

  .order__email,
  .order__tel {
    width: 1050px;
    padding-left: 0;
    box-sizing: border-box;
  }

  .order__input--email,
  .order__input--tel {
    width: 700px;
    padding: 0 44px 10px 17px;
    box-sizing: border-box;
    margin-left: 56px;
  }

  .order__tel {
    &::after {
      right: 183px;
    }
  }

  .order__tel-icon {
    top: 12px;
    right: 7px;
  }

  .order__email {
    &::after {
      right: 179px;
    }
  }

  .order__email-icon {
    top: 28px;
    right: 1px;
  }

  .order__add {
    padding-left: 0;
    margin-bottom: 41px;
    padding-top: 39px;
  }

  .order__textarea {
    width: 700px;
    height: 142px;
    margin-left: 48px;
    margin-top: 13px;
  }

  .order__button {
    margin-bottom: 50px;
    margin-left: 175px;
  }

  .order__warn {
    top: 251px;
    right: 173px;
  }
}
