.product {
  margin: 0;
  padding: 0;
  background-color: @white;
  font: inherit;
  list-style: none;
}

.product__wrap {
  width: 208px;
  margin: 0 auto;
}

.product__item {
  border: 1px solid @border;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 5px 5px 3px @lavender;
  }

  &:active {
    box-shadow: 0 4px 5px @lavender;
  }
}

.product__link {
  text-decoration: none;
  color: @black;
}

.product__image {
  overflow: hidden;
}

.product__title {
  font-size: 17px;
  line-height: 24px;
  margin: 18px 0 5px;
  padding: 0 10px 0 0;
  letter-spacing: 1px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__description {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding-bottom: 19px;
}

.product__buy {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 24px;
  border-top: 1px solid @border;
}

.product__reserve {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &:active,
  &:focus {
    outline: none;
  }
}

.product__cart {
  fill: @grey;

  &:hover {
    fill: @marine;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .product__item {
    display: flex;
    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .product__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 268px;
    margin-left: 26px;
  }

  .product__image {
    width: 334px;
    height: 334px;
    display: block;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
    padding: 0 35px 0 0;
    letter-spacing: 1px;
  }

  .product__price {
    font-size: 17px;
  }

  .product__buy {
    padding: 18px 0 24px 5px;
  }

  .product__reserve {
    width: 20px;
    height: 20px;
    margin-right: -6px;
    margin-top: 1px;
  }

  .product__description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    display: flex;
    justify-content: space-between;
  }

  .product__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 316px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .product__title {
    padding: 0;
    padding-right: 13px;
  }

  .product__link {
    letter-spacing: 1.2px;
  }

  .product__wrap {
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 196px;
  }

  .product__image {
    width: 316px;
    height: 462px;
  }

  .product__buy {
    padding: 19px 0 24px 3px;
  }

  .product__reserve {
    margin-right: 0;
  }

  .product__description {
    padding-bottom: 14px;
  }
}
