body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: @brown;
  background-color: @white;
  background-repeat: no-repeat;
}

main {
  font: inherit;
}
