.social {
  margin: 0;
  padding: 0;

  &__item {
    margin: 30px 20px;
  }

  &__item--instagram {
    width: 22px;
    height: 21px;
    //background: transparent url("../img/icon-insta.svg") no-repeat;
  }

  &__item--facebook {
    width: 15px;
    height: 28px;
    margin-top: 25px;
    //background: transparent url("../img/icon-fb.svg") no-repeat;
  }

  &__item--twitter {
    width: 23px;
    height: 20px;
    //background: transparent url("../img/icon-twitter.svg") no-repeat;
  }

  &__icon {
    fill: @black;

    &:hover {
      fill: @icon-social-hover;
    }

    &:active,
    &:focus {
      opacity: 0.4;
    }
  }
}
